body {
    background: #95dada;
}

.container {
    background: white;
    padding: 80px;
    width: 50%;
    margin: auto;
    margin-top: 10%;
    text-align: center;
    border-radius: 10px;
}

h3, input, button {
    margin-bottom: 20px;
    border-radius: 10px;
}

input {
    padding: 2% 20% 2% 0;
}